/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    padding: 5px 10px;
    margin: 5px 0;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

table {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
}



table, th, td {
    border: 1px solid #ccc;
}

td {
    text-align: center;
}

th {
    text-align: center;
}


canvas {
    max-width: 100%;
    margin-top: 20px;
}



.summary {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.summary p {
    margin: 0;
    font-weight: bold;
}

.summary span {
    display: block;
    font-weight: normal;
    margin-top: 5px;
}

